@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/*Custom Styles
 * primary #ad7fa8 
 * secondary #8ae234 */

body, button, input, optgroup, select, textarea {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url('../img/header-bg.jpg') center center no-repeat;
	background-size: cover;
}
.ex-header {
	background: url('../img/exheader-bg.jpg') center center no-repeat, url('../img/exheader-bg.svg') center center no-repeat;
	background-size: cover;
}
.hero .content {
  max-width: 650px;
}
#courses-grid .box {
  min-height: 15rem;
}
.section-header {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 3rem;
}
span.icon-text {
  flex-wrap: nowrap;
}
#blog-grid .card-content {
  min-height: 22rem;
}
.button.is-primary {
  background: #ad7fa8;
  color: #fff;
}
